



<!--My navBar html Design-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height: 70px; padding: 5px 20px;">
  <div class="container d-flex justify-content-between align-items-center">
    <!-- Left Side: Logo -->
    <div class="logo">
      <img src="assets/logo.png" alt="Labournet Logo" style="height: 40px;">
    </div>

    <!-- Centered Button -->
    <div class="mx-auto">
      <button class="btn btn-outline-green" [routerLink]="['register']">Register</button>
    </div>

    <!-- Right Side: Logout -->
    <div>
      <button class="btn btn-outline-green" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>



<app-sidebar></app-sidebar>


<div class="footer">
  
  <p>Website Disclaimer | Copyright @Labournet</p>
</div>

